<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Color Crash Arena</h1>
            <p class="home-text">Gotta move quick and paint like your life depends on it!</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
        <h2>About the Game</h2>
        <h3>It's basically a turf war, but with rainbow trails</h3>
        </div>
        <p class="about-text">The whole point is that your pet can barely walk straight. Players try to complete simple objectives, but physics makes
        everything harder — and funnier. You never know what's gonna happen - that's half the fun.</p>
    </div>
</section>