<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Color Crash Arena</h1>
            <p class="home-text">Gotta move quick and paint like your life depends on it!</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
        <h2>About the Game</h2>
        <h3>It's basically a turf war, but with rainbow trails</h3>
        </div>
        <p class="about-text">The whole point is that your pet can barely walk straight. Players try to complete simple objectives, but physics makes
        everything harder — and funnier. You never know what's gonna happen - that's half the fun.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
        <h2>How To Play</h2>
        <h3>Move, spread, dominate</h3>
        <ul class="how-list">
            <li class="how-item">
                <img src="/img/how/one.png" alt="Control icon" loading="lazy">
                <p class="how-item-title">Control Your Character</p>
                <p class="how-item-text">Navigate smoothly across the arena.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/two.png" alt="Leave Color icon" loading="lazy">
                <p class="how-item-title">Leave Color<br class="desk"/> Trails</p>
                <p class="how-item-text">Your movement paints the ground.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/three.png" alt="Avoid Opponents icon" loading="lazy">
                <p class="how-item-title">Avoid<br class="desk" /> Opponents</p>
                <p class="how-item-text">Collisions can reset your progress.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/four.png" alt="Capture Space icon" loading="lazy">
                <p class="how-item-title">Capture<br class="desk" /> Space</p>
                <p class="how-item-text">Close loops to claim territory.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/five.png" alt="Time icon" loading="lazy">
                <p class="how-item-title">Win<br class="desk" /> the Round</p>
                <p class="how-item-text">Control the largest area at the end.</p>
            </li>
        </ul>
    </div>
</section>