
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.home-title{
font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}
.home-text{
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}
    
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
}
.home-title{
font-size: 112px;
}
.home-text{
font-size: 24px;
}
}
/* About the Game */
.about-container{
    padding-top: 48px;
}
@media only screen and (min-width: 1440px) {
.about-container {
padding: 80px 176px 64px;
display: flex;
align-items: end;
gap: 48px;
    }
.about-wrapper{
width: 528px;
}
.about-wrapper h3{
    margin-bottom: 0;
}
.about-text{
    width: 512px;
}
}
/* How To Play */
.how-section h3{
    margin-bottom: 48px;
}
.how-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.how-item{
border-radius: 32px;
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-item-title{
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.how-item-text{
    text-align: center;
    color: #606060;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
.how-list{
flex-direction: row;
justify-content: center;
gap: 32px;
}
.how-item{
border-radius: 32px;
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-item-title{
font-size: 20px;
}
.how-item-text{
    text-align: center;
    color: #606060;
}   
.desk{
    display: block;
}
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.features-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.features-wrapper h2,
.features-wrapper h3,
.features-wrapper p{
    color: #fff;
}
.features-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features-img-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media only screen and (min-width: 1440px) {
.features-section{
    background-image: url("/img/features/desk.png");
}
.features-container{
flex-direction: row;
    gap: 48px;
    padding-left: 64px;
    padding-right: 64px;
}
.features-wrapper{
width: 528px;
}
.features-img-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
width: 736px;
    height: 662px;
}   
.f1{
    margin-top: 84px;
}
}
/* Game Modes */
.modes-section h3{
    margin-bottom: 32px;
}
.modes-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.modes-item{
    background-image: url("/img/modes/one.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 24px;
padding: 56px 24px;
width: 341px;
height: 494px;
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}
.modes-item-title{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #fff;
}
.modes-item-text{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.m2{
    background-image: url("/img/modes/two.png");
}
.m3{
background-image: url("/img/modes/three.png");
}
@media only screen and (min-width: 1440px) {
 .modes-section h3{
    margin-bottom: 48px;
}
.modes-list{
flex-direction: row;
justify-content: center;
}

.modes-item-title{
font-size: 26px;
}
.modes-item-text{
font-size: 20px;
}   
}
/* Advantages */
.advantages-container{
border-radius: 32px;
    padding: 24px;
    width: 343px;
    height: 447px;
box-shadow: 8px 8px 12px 0 rgba(99, 92, 92, 0.1);
    background: #1a0b4c;
    display: flex;
    flex-direction: column;
}
.advantages-wrapper h2,
.advantages-wrapper h3{
color: #fff;
}
.advantages-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.advantages-item{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
 .advantages-container{
border-radius: 64px;
    padding: 64px;
    width: 1088px;
    height: 399px;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}
.advantages-wrapper{
width: 528px;
}
.advantages-wrapper h3{
margin-bottom: 0;
}
.advantages-list{
width: 384px;
    height: 194px;
}  
}
/* Player Benefits */
.benefits-section{
    background-image: url("/img/benefits/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 607px;
}
.benefits-section h2,
.benefits-section h3{
text-align: center;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.benefits-item{
border: 1px solid #1a1a1a;
    border-radius: 50px;
    padding: 12px 20px;
color: #606060;
}
@media only screen and (min-width: 1440px) {
.benefits-section{
    background-image: url("/img/benefits/desk.png");
height: 640px;
}
.benefits-list{
width: 864px;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-left: auto;
margin-right: auto;
gap: 24px;
}
.benefits-item{
border: 1px solid #1a1a1a;
    border-radius: 50px;
    padding: 12px 20px;
color: #606060;
}    
}
/* faq */
.faq-section{
background: #fc7408;
}
.faq-section h2,
.faq-section h3 {
text-align: center;
    color: #fff;
}
.faq-section h3{
    margin-bottom: 32px;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 16px;
}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
    border: none;
border-radius: 12px;
    padding: 20px 24px;
background: #fff;
}



.faq-acc-el-trigger {
    background: inherit;
font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    color: #1a1a1a;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: start;
border: none;
width: 100%;

}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
border-radius: 50px;
width: 24px;
height: 24px;
background-color: #1a0b4c;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    background: none;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}



.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    background: none;
    padding-top: 16px;
    text-align: left;
    max-height: 500px;

}
@media only screen and (min-width: 1440px) {
    .faq-acc {
        width: 864px;
        margin: 0 auto;
    }

    .faq-acc-el-trigger {
font-size: 20px;
    }
    .mob{
        display: none;
    }
}
/* Contact */
.contact-section{
background: #fc7408;
}
.contact-wrapper{
border-radius: 32px;
    padding: 32px 16px;
    width: 343px;
    height: 213px;
background: #1a0b4c;
display: flex;
flex-direction: column;
align-items: center;
}
.contact-wrapper h2,
.contact-wrapper h3{
color: #fff;
}
.contact-wrapper h3 {
    margin-bottom: 32px;
}
.contact-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
        padding: 8px;
        width: 311px;
        height: 46px;
background: #fff;
padding-left: 20px;
}
.contact-link p{
font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.44;
    text-align: center;
    color: #170227;
}
.contact-img{
width: 30px;
    height: 30px;
}
@media only screen and (min-width: 1440px) {
.contact-section{
margin-top: -1px;
}
.contact-wrapper{
border-radius: 64px;
    padding: 64px 0px;
    width: 864px;
    height: 325px;
    margin-left: auto;
    margin-right: auto;
}
.contact-link{
    width: 440px;
    height: 74px;
    padding-left: 40px;
}
.contact-link p{
font-size: 26px;
}  
.contact-img {
width: 58px;
    height: 58px;
}
}